<li>

    {{#if devoured}}
    <a class="change-devoured waves-effect waves-light btn-small disabled" data-id="{{id}}">
        {{burger_name}}
    </a>
    {{else}}
    <a class="change-devoured waves-effect waves-light btn-small" data-id="{{id}}">
        {{burger_name}}
    </a>
    {{/if}}

</li>